---
import SocialMedia from "./SocialMedia.astro";
---

<footer>
  <div class="social-media">
    <SocialMedia platform="github" username="DMV-Nicolas" />
    <SocialMedia platform="linkedin" username="nicolas-moreno-4042a3220" />
  </div>
</footer>

<style>
  .social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
